@import './variables.scss';
@import './animations.scss';

body {
    font-family: $font-family;
    font-size: $fontsize-default;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}