// font sizes
$fontsize-default: "14px";

// font family
$font-family: Georgia, serif;

// colors
$color-border-grey: grey;
$color-border-black: orange;
$color-primary: orange;
$color-secondary: green;